body {
	background-color: #eaeaea;
	font-family : arial, sans-serif;
	padding: 20px;
}
#chart svg {
	background-color: #eaeaea;
	cursor: text;
	position : relative;
}

#chart {
	position : absolute;
}

.newElement rect {
	stroke : #aeaeae;
	fill : #333;
	opacity : 0.5;
}

.entry rect {
	stroke : #aeaeae;
	stroke-width : 0.5;
	fill : #333;
	opacity : 0.8;
}

.entry text {
	fill : #ffffff;
	text-anchor : middle;
	pointer-events : none;
	text-shadow : 0 1px 0 rgba(0,0,0,0.7);
}
.entry text tspan {
	alignment-baseline : middle;
}

.selected rect {
	stroke : #000000;
	fill : #333;
	opacity : 0.5;
}

.resizing rect {
	stroke-width: 2;
}

#menu {
	position: fixed;
	bottom:20px;
	z-index:100;
}

a.button {
	display: inline-block;
	padding : 10px;
	text-decoration: none;
	color: #dedede;
	margin: 0 7px 7px 0;
	background-color: #666;
	cursor: pointer;
}

a.button:hover {
	color: #ffffff;
	background-color: #555;
}

.grid-text {
	text-anchor : middle;
	fill: #333;
}

#json {
	display: none;
	position:absolute;
	top: 10px;
	right: 10px;
	border: 1px solid #aeaeae;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	width: 300px;
	min-height: 200px;
	overflow: auto;
}

#json pre {
	border: 1px solid #aeaeae;
	max-height: 500px;
	overflow: auto;
}